{% extends 'base.html' %}
{% block conteudo %}
    <div class="container marketing">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> MEMBROS</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> ORIENTADORES</h4>
                        </div>
                    </div>
                </div>
            </div>

            {% for associado in associados %}
                {% if associado.username != "admin" %}
                    {% if associado.status_member_type == 1 %}
                        <div class="col-lg-4 col-sm-4 col-xs-6">
                            <img class="img-circle"
                                 {% if associado.profile_image %}
                                    src="{{ associado.profile_image.url }}"
                                 {% elif associado.sexo_member == 1 %}
                                    src="/media/imagem/user-f.svg"
                                 {% else %}
                                    src="/media/imagem/user-m.svg"
                                 {% endif %} alt="Generic placeholder image" style="width: 110px; height: 110px;">
                            <h4>{{ associado.name|upper }}</h4>
                            <p>
                                É orientador no LEDS
                            </p>
                            <p><a class="btn btn-default" href="{{ associado.slug }}" role="button">Ver detalhes »</a></p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">

            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> BOLSISTAS</h4>
                        </div>
                    </div>
                </div>
            </div>

            {% for associado in associados %}
                {% if associado.username != "admin" %}
                    {% if associado.status_member_type == 0 %}
                        <div class="col-lg-4 col-sm-4 col-xs-6">
                            <img class="img-circle image-perfil"
                                 {% if associado.profile_image %}
                                    src="{{ associado.profile_image.url }}"
                                 {% elif associado.sexo_member == 1 %}
                                    src="/media/imagem/user-f.svg"
                                 {% else %}
                                    src="/media/imagem/user-m.svg"
                                 {% endif %} alt="Generic placeholder image" style="width: 110px; height: 110px;">
                            <h4>{{ associado.name|upper }}</h4>
                            <p>
                                É bolsista no LEDS
                            </p>
                        <p><a class="btn btn-default" href="{{ associado.slug }}" role="button">Ver detalhes »</a></p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">

            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> ASSOCIADOS</h4>
                        </div>
                    </div>
                </div>
            </div>

            {% for associado in associados %}
                {% if associado.username != "admin" %}
                    {% if associado.status_member_type == 2 %}
                        <div class="col-lg-4 col-sm-4 col-xs-6">
                            <img class="img-circle image-perfil"
                                 {% if associado.profile_image %}
                                    src="{{ associado.profile_image.url }}"
                                 {% elif associado.sexo_member == 1 %}
                                    src="/media/imagem/user-f.svg"
                                 {% else %}
                                    src="/media/imagem/user-m.svg"
                                 {% endif %} alt="Generic placeholder image" style="width: 110px; height: 110px;">
                            <h4>{{ associado.name|upper }}</h4>
                            <p>
                                É associado no LEDS
                            </p>
                        <p><a class="btn btn-default" href="{{ associado.slug }}" role="button">Ver detalhes »</a></p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}