{% extends 'base.html' %}
{% block conteudo %}
    <div class="container marketing col-centered">
    <!-- Three columns of text below the carousel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> PARCEIROS</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for parceiro in parceiros %}
                <div class="col-lg-12">
                    <h4>{{ parceiro.nome|upper }}</h4>
                    {% if parceiro.image1 %}
                        {% if parceiro.url_image1 %}
                            <a href= "{{ parceiro.url_image1 }}" target="_blank">
                                <img class="" src="{{ parceiro.image1.url }}" alt="Generic placeholder image">
                            </a>
                        {% else %}
                            <img class="" src="{{ parceiro.image1.url }}" alt="Generic placeholder image">
                        {% endif %}
                    {% endif %}
                    {% if parceiro.image2 %}
                         {% if parceiro.url_image2 %}
                            <a href= "{{ parceiro.url_image2 }}" target="_blank">
                                <img class="" src="{{ parceiro.image2.url }}" alt="Generic placeholder image">
                            </a>
                        {% else %}
                            <img class="" src="{{ parceiro.image2.url }}" alt="Generic placeholder image">
                        {% endif %}
                    {% endif %}
                    {% if parceiro.image3 %}
                         {% if parceiro.url_image3 %}
                            <a href= "{{ parceiro.url_image3 }}" target="_blank">
                                <img class="" src="{{ parceiro.image3.url }}" alt="Generic placeholder image">
                            </a>
                        {% else %}
                            <img class="" src="{{ parceiro.image3.url }}" alt="Generic placeholder image">
                        {% endif %}
                    {% endif %}
                <hr class="featurette-divider"></hr>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}