{% extends "base.html" %}
{% block conteudo %}
    <div class="container" id="container-principal">
        {% if messages %}
            <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div></div>
        {% endif %}
        <div class="row">
            <div class="col-centered">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img class="img-circle image-perfil"
                            {% if perfil_info.profile_image %}
                                src="{{ perfil_info.profile_image.url }}"
                            {% elif perfil_info.sexo_member == 1 %}
                                src="/media/imagem/user-f.svg"
                            {% else %}
                                src="/media/imagem/user-m.svg"
                            {% endif %} alt="Generic placeholder image" style="width: 110px; height: 110px;">
                        </div>
                        <div class="panel-body">
                            <h3>{{ perfil_info.name|upper }}
                            {% if user.username == perfil_info.username %}
                                <button class="btn glyphicon glyphicon-edit" data-toggle="modal" data-target="#editarPerfil" title="Editar Perfil"></button>
                            {% endif %}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>PROJETOS</h4>
                    </div>
                    <div class="panel-body">
                        <h4>{{ perfil_info.name }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>PUBLICAÇÕES</h4>
                    </div>
                    <div class="panel-body">
                        <h4>
                            {% for pub in publicacoes %}
                                <a href="{{ pub.arquivo.url }}" target="_blank">
                                {{ pub.titulo }}</a>;
                            {% endfor %}
                            {% for pub_co in publicacoes_co %}
                                <a href="{{ pub_co.arquivo.url }}" target="_blank">
                                {{ pub_co.titulo }}</a>;
                            {% endfor %}
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>DOCUMENTOS TÉCNICOS</h4>
                    </div>
                    <div class="panel-body">
                    <h4>
                        {% for doc in documentos %}
                            <a href="{{ doc.arquivo.url }}" target="_blank">
                            {{ doc.nome }}</a>;
                        {% endfor %}
                    </h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>CONTATOS</h4>
                    </div>
                    <div class="panel-body">
                        {% if perfil_info.email %}
                            <h4>E-mail: {{ perfil_info.email }}</h4>
                        {% endif %}
                        {% if perfil_info.lattes %}
                            <h4>Curriculo Lattes: {{ perfil_info.lattes }}</h4>
                        {% endif %}
                        {% if perfil_info.site_url %}
                            <h4>Site: {{ perfil_info.site_url }}</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>INTERESSES</h4>
                    </div>
                    <div class="panel-body">
                        {% if perfil_info.interesses %}
                            <h4>{{ perfil_info.interesses }}</h4>
                        {% else %}
                            <h4>Nenhum interesse...</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editarPerfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Editar Perfil</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- left column -->
                        <form id="profile-form" class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
                            {% csrf_token %}

{#                            {% for f in form %}#}
{#                                {% if f.html_name == "profile_image" %}#}
{#                                    <div class="col-md-3">#}
{#                                        <div class="text-center">#}
{#                                            <img {% if perfil_info.profile_image %}#}
{#                                                    src="{{ perfil_info.profile_image.url }}"#}
{#                                                {% elif perfil_info.sexo_member == 1 %}#}
{#                                                    src="/media/imagem/user-f.svg"#}
{#                                                {% else %}#}
{#                                                    src="/media/imagem/user-m.svg"#}
{#                                                {% endif %} class="avatar img-circle img-responsive" alt="avatar" style="width: 90px; height: 90px;">#}
{#                                            <h6>Mude sua foto...</h6>#}
{#                                            <div class="input-group">#}
{#                                                <div class="row">#}
{#                                                    <span class="btn btn-primary-login btn-file">#}
{#                                                        <label class="file-container">#}
{#                                                        {{ f.label_tag }}{{ f }}#}
{#                                                            </label>#}
{#                                                    </span>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}

                            <div class="col-md-11 personal-info">
                                <h3>Informações Pessoais</h3>
                                <p>{{ form.non_field_errors }}</p>
                                <p>{{ form.errors }}</p>
                                {% for f in form %}
                                    {% if f.html_name != "profile_image" %}
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">{{ f.label_tag }}</label>
                                            <div class="col-lg-8">
                                                <p>{{ f.non_field_errors }}</p>
                                                {{ f }}
                                                <p>{{ f.errors }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                    <button id="profile-button" type="button" class="btn btn-primary-login">Salvar Alterações</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            //funcao que manda os dados do form do model para o view
            $('#profile-button').click(function(){
                $.ajax({
                    //url de destino, depois que a funcao e executada
                    url: "/quem-somos/associados/" + "{{ perfil_info.slug }}" + "/",
                    type: "POST", //o tipo de metodo que e usado no form
                    data: $("#profile-form").serialize(),
                    contexto: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function(data){
                        //se o form for valido os dados sao salvos e a pagina e recarregada
                        if (data['status'] == "ok"){
                            location.reload();//reload pagina
                        }else{
                            //se o form nao for valido, os erros sao capiturados do form e altera dinamicamente
                            //o form model
                            var form_errors = data['erro'];//recebe os erros do view
                            console.log(form_errors);
                            for(var fieldname in form_errors) {//percorre todos os erros
                                var errors = form_errors[fieldname];  // Array de error strings para fieldname
                                //alterando o campo com erro no form
                                $('#id_' + fieldname).after($("<p class='text-warning'></p>").text(errors));
                            }
                        }
                    }
                });
            });
        });
    </script>


{% endblock %}