{% extends 'base.html' %}
{% block conteudo %}
<div class="row-center container" id="ajustAta">
    <div class="col-xs-4 col-md-12 text-center">
        <form>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Ata da Reunião</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="{% url "relatorio:escrever-ata" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group">
                            <p>{{ form.participantes.label_tag }}<br>{{ form.participantes }}</p>

                            <p>{{ form.non_field_errors }}</p>
                            <p> {{ form.arquivo.help_text }}</p>
                            <p>{{ form.arquivo.errors }}</p>

                            {{ form.texto }}

                            <div class="control-group">
                                <label></label>
                                <div><button type="submit" class="btn btn-primary-login">Salvar</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
