{% extends 'base.html' %}
{% block conteudo %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Escrever Ata da Reunião</h4>
                <form class="editar-form editar-form-stacked" action="{% url "relatorio:escrever-ata" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        {{ form.non_field_errors }}
                        {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            <br/>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                        <div class="pure-controls">
                            <button type="submit" class="btn btn-primary-login">Salvar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}