{% extends 'base.html' %}
{% block conteudo %}
    <div class="container">
        <div class="container marketing">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-title">
                        <h3>
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Atas
                        </h3>
                    </div>
                </div>
            </div>

            {% for ata in lista %}
                <hr class="featurette-divider"></hr>
                <div class="row featurette">
                    <div class="col-md-8 col-md-offset-1">
                        <h3 class="featurette-heading-doc text-justify">Ata da reunião do dia: {{ ata.data_Criacao }}</h3>
                    </div>
                    <div class="col-md-2">
                        <a href="{{ ata.get_absolute_url }}" class="btn btn-primary-login btn-lg" role="button">Visualizar
                        </a>
                    </div>
                </div>
            {% empty %}
                <div class="col-md-8 col-md-offset-1">
                    <h4 class="featurette-heading-doc text-justify"></br><b>Nenhuma ATA disponível</b></h4>
                </div>
            {% endfor %}
            <hr class="featurette-divider"></hr>

            <nav class="text-center">
                <ul class="pagination pagination-lg">
                    {% if lista.has_previous %}
                        <li>
                            <a href="?page={{ documentos.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for pag in paginator.page_range %}
                        <li {% if pag == documentos.number %} class="active"{% endif %}>
                            <a href="?page={{ pag }}">{{ pag }}</a>
                        </li>
                    {% endfor %}

                    {% if lista.has_next %}
                        <li>
                            <a href="?page={{ documentos.next_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}