{% extends 'base.html' %}
{% block conteudo %}
<div class="row-center container" id="ajustAta">
  <div class="col-xs-4 col-md-12 text-center">
        <form>
              <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h2>Ata da Reunião {{ ver_ata.data_Criacao }}</h2>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form form-vertical">
                                <p><h4>{{ ver_ata.paticipantes }}</h4></p>
                                <p><div class="control-group text-justify">
                                    <div class="controls">
                                        {{ ver_ata.texto|linebreaks }}
                                    </div>
                                </div></p>
                            </form>
                        </div>
                        <!--/panel content-->
                    </div>
           </form>       
  </div>
</div>
{% endblock %}
