{% extends 'base.html' %}
{% block conteudo %}
    <div class="row-center container" id="ajustAta">
        <div class="col-md-12 text-center">
            <form>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h2>{{ dados.titulo }}</h2>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form class="form form-vertical">
                            <div class="control-group text-justify">
                                <div class="controls">
                                {{ dados.texto| linebreaks}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1979.1559063290172!2d-39.44806060254979!3d-7.205222728356078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1431549276063" width="500" height="400" frameborder="0" style="border:0"></iframe>
        <div class="col-md-6">
            <form action="" class="" method="post">
                {% csrf_token %}
                <p><h3>Dúvidas ou Questionamentos sobre o LEDS</h3></p>
                {% for f in form %}
                    {{ f.label_tag }}{{ f }}
                    {{ f.erros }}
                {% endfor %}
                <div class="col-md-2"><button type="submit" class="btn btn-primary-login">Enviar E-mail</button></div>
            </form>
        </div>
        </div>
    </div>
{% endblock %}
