{% extends "base.html" %}
{% block conteudo %}
    <div class="container">
        <div class="row">
            <div class="page-header text-center">
                <h1>Laboratório de Sistemas Embarcados e Distribuídos <small>(LEDS)</small></h1>
            </div>
            <!-- Carousel
            ================================================== -->
            <section id="sliderhome" class ="col-md-10 col-md-offset-1">
                <div id="meuSlider" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#meuSlider" data-slide-to="0" class="active"></li>
                        <li data-target="#meuSlider" data-slide-to="1"></li>
                        <li data-target="#meuSlider" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        {% for ultimas_noticia in ultimas_noticias %}
                            {% if forloop.first %}
                                <div class="active item">
                            {% else %}
                                <div class="item">
                            {% endif %}
                            {% if ultimas_noticia.image %}
                                <a href="/noticias/{{ ultimas_noticia.slug }}"><img class="img-responsive center-block" src={{ ultimas_noticia.image.url }}></a>
                            {% endif %}
                            <div class="carousel-caption">
                                <h3>{{ ultimas_noticia.titulo }}</h3>
                            </div>
                            </div>
                        {% endfor %}
                    </div>

                    <a class="left carousel-control" href="#meuSlider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#meuSlider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </section>
        </div>
    </div>

    {% for noticia in noticias %}
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7 col-md-offset-1">
                    <a href="/noticias/{{ noticia.slug }}">
                        <h3>
                            {{ noticia.titulo }}
                        </h3>
                    </a>
                    <span class="label label-primary">Postado em</span> {{ noticia.created_at }}
                    <div class="fb-share-button" data-href="/noticias/{{ noticia.slug }}" data-layout="button_count"></div><br>
                    <p class="lead text-justify ">{{ noticia.descricao|safe }}</p>
                    <a class="btn btn-primary-login" href="/noticias/{{ noticia.slug }}">Continue Lendo...</a>
                </div>

                {% if noticia.image  %}
                    <div class="col-md-4">
                        <div class="img-md-5">
                            <img data-holder-rendered="true" src="{{noticia.image.url}}" class="featurette-image img-responsive"
                            data-src="holder.js/500x500/auto" alt="500x500">
                        </div>
                    </div>
                {% endif %}
            </div>
        <hr>
        </div>
        <br/><br/><br><br>
    {% endfor %}

    <nav class="text-center">
        <ul class="pagination pagination-lg">
            {% if noticias.has_previous %}
                <li>
                    <a href="?page={{ noticias.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for pag in paginator.page_range %}
                <li {% if pag == noticias.number %} class="active"{% endif %}>
                    <a href="?page={{ pag }}">{{ pag }}</a>
                </li>
            {% endfor %}

            {% if noticias.has_next %}
                <li>
                    <a href="?page={{ noticias.next_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}