{% extends "base.html" %}
{% block conteudo %}
    <div class="container">
        <div class="row">
            <div class="page-header text-center">
                <div class="container">
                    <div class="row featurette">
                        <div class="col-md-11 col-md-offset-1">
                            <h3 class="text-left">{{ noticias.titulo }}<span class="text-muted"></span></h3>
                            <div class="'featurette-heading text-left">
                                <span class="label label-primary">Postado em</span> {{ noticias.created_at }}
                                <br><br>
                                <p class="lead text-center ">{{ noticias.sobre|safe }}</p>
                            </div>
                        </div>
                    </div>
                    <hr class="featurette-divider">
                    <div class="fb-like text-left" data-href="/noticias/{{ noticias.slug }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                    <div id="fb-root"></div>
                    <!-- plugin facebook-->
                    <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3";
                        fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>

                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="ledsif">Tweet</a>
                    <script>
                        !function(d,s,id){
                            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                            if(!d.getElementById(id)){
                                js=d.createElement(s);
                                js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js,fjs);
                            }
                        }(document, 'script', 'twitter-wjs');
                    </script>

                    <a href="https://twitter.com/ledsif" class="twitter-follow-button" data-show-count="false">Follow @ledsif</a>
                    <script>
                        !function(d,s,id){
                            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                            if(!d.getElementById(id)){
                                js=d.createElement(s);
                                js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js,fjs);
                            }
                        }(document, 'script', 'twitter-wjs');
                    </script>

                </div>
                <div class="fb-comments" data-href="https://www.facebook.com/pages/Laboratory-of-Embedded-and-Distributed-Systems-LEDS/1573597329567723" data-numposts="5" data-colorscheme="light">
                </div>
            </div>
        </div>
    </div>

{% endblock %}