{% extends "base.html" %}

{% block conteudo %}

<form class="form-signin" method="post">
    {% csrf_token %}
    {% if success %}
        <p>A sua senha foi alterada com sucesso</p>
    {% endif %}
    <fieldset>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-control">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="">
            <button type="submit" class="btn btn-lg btn-primary-login btn-block">Alterar Senha</button>
        </div>
    </fieldset>
</form>
{% endblock %}