{% extends "base.html" %}
{% block conteudo %}
<div class="container body-login">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Por favor efetue login </h2>
        <fieldset >
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class=" form-control ">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

{#            <label for="inputEmail" class="sr-only">Email address</label>#}
{#            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>#}
{#            <label for="inputPassword" class="sr-only">Password</label>#}
{#            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>#}
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary-login btn-block" type="submit">Entrar</button>
        </fieldset>
    </form>

</div> <!-- /container -->
{% endblock %}
