{% extends "base.html" %}
{% load static %}
{% block conteudo %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div role="tabpanel">
                    <div class="panel-title">
                        <h3>
                            <span class="glyphicon glyphicon-folder-open"></span> Publicações
                            {% if user.is_authenticated %}
                                <a href="{% url 'publicacoes:submit-publicacoes' %}" class="btn btn-primary-login">
                                    Enviar Publicações
                                    <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tcc" aria-controls="home" role="tab" data-toggle="tab">
                    Trabalhos TCC
                </a>
            </li>
            <li role="presentation">
                <a href="#periodicos" aria-controls="profile" role="tab" data-toggle="tab">
                    Periodicos
                </a>
            </li>
            <li role="presentation">
                <a href="#anaisCongresso" aria-controls="profile" role="tab" data-toggle="tab">
                    Anais de Congressos
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tcc">
                <h4>Relatórios de Conclusão</h4>
                {% for p in publicacoes %}
                    {% if p.tipo_publicacao == 0 %}
                        <div class="col-md-12">
                            {{ p.autor_principal }}.
                            <b>{{ p.titulo }}.</b>
                            {{ p.nome_evento }}.
                            {{ p.local_evento }}.
                            {{ p.ano }}.
                            <a href="{{ p.arquivo.url }}" target="_blank">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="periodicos">
                {% for p in publicacoes %}
                    {% if forloop.first %}
                        <h4>Artigo Completo</h4>
                    {% endif %}
                    {% if p.tipo_publicacao == 1 %}
                        {% if p.tipo_artigo == 0 %}
                            {{ p.autor_principal }}.
                            <b>{{ p.titulo }}.</b>
                            {{ p.nome_evento }}.
                            {{ p.local_evento }}.
                            {{ p.ano }}.
                            <a href="{{ p.arquivo.url }}" target="_blank">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for p in publicacoes %}
                    {% if forloop.first %}
                        <h4>Resumos</h4>
                    {% endif %}
                    {% if p.tipo_publicacao == 1 %}
                        {% if p.tipo_artigo == 1 %}
                            {{ p.autor_principal }}.
                            <b>{{ p.titulo }}.</b>
                            {{ p.nome_evento }}.
                            {{ p.local_evento }}.
                            {{ p.ano }}.
                            <a href="{{ p.arquivo.url }}" target="_blank">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="anaisCongresso">
                {% for p in publicacoes %}
                    {% if forloop.first %}
                        <h4>Artigo Completo</h4>
                    {% endif %}
                    {% if p.tipo_publicacao == 2 %}
                        {% if p.tipo_artigo == 0 %}
                            {{ p.autor_principal }}.
                            <b>{{ p.titulo }}.</b>
                            {{ p.nome_evento }}.
                            {{ p.local_evento }}.
                            {{ p.ano }}.
                            <a href="{{ p.arquivo.url }}" target="_blank">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for p in publicacoes %}
                    {% if forloop.first %}
                        <h4>Resumos</h4>
                    {% endif %}
                    {% if p.tipo_publicacao == 2 %}
                        {% if p.tipo_artigo == 1 %}
                            {{ p.autor_principal }}.
                            <b>{{ p.titulo }}.</b>
                            {{ p.nome_evento }}.
                            {{ p.local_evento }}.
                            {{ p.ano }}.
                            <a href="{{ p.arquivo.url }}" target="_blank">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}