{% extends 'base.html' %}
{% block conteudo %}
    <div class="container">
        {% if messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for message in messages %}
                    {{ message }} <a href="{% url 'publicacoes:publicacoes' %}" class="alert-link">Retorne para a página de publicações</a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-12">
                <h4>ENVIAR PUBLICAÇÃO</h4>
                <!-- Upload form. Note enctype attribute! -->
                <form action="{% url "publicacoes:submit-publicacoes" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for f in form %}
                            {% if not forloop.last %}
                                {{ form.non_field_errors }}
                                {{ f.label_tag }}
                                {{ f }}
                                {{ f.errors }}
                            {% endif %} 
                        {% endfor %}
                        <br>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary-login btn-file">
                                    {{ form.arquivo.label_tag }}{{ form.arquivo }}
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly >
                        </div>
                        <p>{{ form.arquivo.errors }}</p>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary-login" type="submit" value="Enviar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}