{% extends 'base.html' %}
{% block conteudo %}
    <div class="container marketing">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-title">
                    <h3>
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Documentos Técnicos
                        {% if user.is_authenticated %}
                            <a href="{% url 'doctecnicos:submit-documentos-tecnicos' %}" class="btn btn-primary-login">
                                Submeter Documento
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    </h3>
                </div>
            </div>
        </div>

        {% for documento in documentos %}

            <div class="row featurette">
                <div class="col-md-8 col-md-offset-1">
                    <h3 class="featurette-heading-doc text-justify">{{ documento.nome }}</h3>
                    <p class="lead text-justify">{{ documento.descricao }}</p>
                </div>
                <div class="col-md-2">
                    <a href="{{ documento.arquivo.url }}" class="btn btn-primary-login btn-lg" role="button">Download
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                </div>
            </div>
            <hr class="featurette-divider"></hr>
        {% endfor %}

        <nav class="text-center">
            <ul class="pagination pagination-lg">
                {% if documentos.has_previous %}
                    <li>
                        <a href="?page={{ documentos.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for pag in paginator.page_range %}
                    <li {% if pag == documentos.number %} class="active"{% endif %}>
                        <a href="?page={{ pag }}">{{ pag }}</a>
                    </li>
                {% endfor %}

                {% if documentos.has_next %}
                    <li>
                        <a href="?page={{ documentos.next_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}