{% extends 'base.html' %}
{% block conteudo %}
    <div class="container">
        {% if messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for message in messages %}
                    {{ message }} <a href="{% url 'doctecnicos:documentos-tecnicos' %}" class="alert-link">Retorne para a página de documentos</a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-x">
                <h4>ENVIAR UM DOCUMENTO TÉCNICO</h4>
                <form action="{% url "doctecnicos:submit-documentos-tecnicos" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.nomeDocumento.label_tag }}<br>{{ form.nomeDocumento }}</p>{{ form.nomeDocumento.errors }}

                        <p>{{ form.descricaoDocumento.label_tag }}<br>{{ form.descricaoDocumento }}</p>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary-login btn-file">
                                    {{ form.arquivo.label_tag }}{{ form.arquivo }}
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <p>{{ form.arquivo.errors }}</p>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary-login" type="submit" value="Enviar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}