{% extends "projeto_descricao.html" %}
{% load static %}
{% block conteudo %}
    <div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1>Projetos Concluidos</h1>
					</div>
				</div>
			</div>
		</div>
					<div class="portfolio-item-description col-sm-6">
						<h3>{{ projeto.title }}</h3>
						<p>
							{{ projeto.descricao }}
						</p>
						<ul class="no-list-style">
							<li><b>Coordenador:</b> {{ projeto.cordenador }}</li>

						</ul>
					</div>
					<!-- End Project Info Column -->
				</div>
				<!-- Related Projects -->



{% endblock %}