{% extends "base.html" %}
{% load static %}
{% block conteudo %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{% static 'projeto/css/icomoon-social.css'%}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/leaflet.ie.css" />
    <![endif]-->

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <script>
        $('.panel').on('hidden.bs.collapse', function (e) {
            alert('Event fired on #' + e.currentTarget.id);
        })
    </script>

    <div class="container marketing">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Projetos
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container marketing">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Projetos em Andamento
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    {% for projeto in projetos %}
                        {% if projeto.status == 0  %}
                            <div class="col-md-9 col-md-offset-1">
                                <b>{{ projeto.title }}</b>
                                <p class="lead text-justify ">
                                    {{ projeto.descricao|safe }}
                                </p>
                                <ul class="no-list-style">
                                    <li><b>Coordenador:</b> {{ projeto.cordenador }}</li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Projetos Finalizados
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    {% for projeto in projetos %}
                        {% if projeto.status == 1  %}
                            <div class="col-md-9 col-md-offset-1">
                                <b>{{ projeto.title }}</b>
                                <p class="lead text-justify ">
                                    {{ projeto.descricao|safe }}
                                </p>
                                <ul class="no-list-style">
                                    <li><b>Coordenador:</b> {{ projeto.cordenador }}</li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse"  data-parent="#accordion" href="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                        Projetos Concluidos
                    </a>
                </h4>
            </div>
            <div id="collapseFor" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    {% for projeto in projetos %}
                        {% if projeto.status == 2  %}
                            <div class="col-md-9 col-md-offset-1">
                                <b>{{ projeto.title }}</b>
                                <p class="lead text-justify ">
                                    {{ projeto.descricao|safe }}
                                </p>
                                <ul class="no-list-style">
                                    <li><b>Coordenador:</b> {{ projeto.cordenador }}</li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}