{% extends "projeto.html" %}
{% load static %}
{% block conteudo %}
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'projeto/css/icomoon-social.css'%}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>


        <link rel="stylesheet" href="{% static 'projeto/css/leaflet.css'%}">
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->

         <link rel="stylesheet" href="{% static 'projeto/css/main.css'%}">

        <script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <script>
    $('.panel').on('hidden.bs.collapse', function (e) {
    alert('Event fired on #' + e.currentTarget.id);
})
    </script>

<div class="container">
 <div clas="'col-md-7 col-md-offset-1">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Projetos Inciados
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
            {% for projeto in projetos %}
             {% if projeto.status == 0  %}


        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-12">

                <div class="portfolio-info-fade">
					<div class="portfolio-item-description col-sm-6">
						<h3>{{ projeto.title }}</h3>
						<p>
							{{ projeto.descricao|safe }}
						</p>
						<ul class="no-list-style">
							<li><b>Coordenador:</b> {{ projeto.cordenador }}</li>



						</ul>

                        {% endif %}
          {% endfor %}
					</div>
				</div>
				</div>
            </div>
				</div>
				</div>


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Projetos em Andamento
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
            {% for projeto in projetos %}
             {% if projeto.status == 1  %}


        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-12">

                <div class="portfolio-info-fade">
					<div class="portfolio-item-description col-sm-6">
						<h3>{{ projeto.title }}</h3>
						<p>
							{{ projeto.descricao|safe }}
						</p>
						<ul class="no-list-style">
							<li><b>Coordenador:</b> {{ projeto.cordenador }}</li>



						</ul>

                        {% endif %}
          {% endfor %}
					</div>
				</div>
				</div>
            </div>
				</div>
				</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Projetos Finalizados
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        {% for projeto in projetos %}
             {% if projeto.status == 2  %}


        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-12">

                <div class="portfolio-info-fade">
					<div class="portfolio-item-description col-sm-6">
						<h3>{{ projeto.title }}</h3>
						<p>
							{{ projeto.descricao|safe }}
						</p>
						<ul class="no-list-style">
							<li><b>Coordenador:</b> {{ projeto.cordenador }}</li>



						</ul>

                        {% endif %}
          {% endfor %}
					</div>
				</div>
				</div>
            </div>
				</div>
				</div>
      </div>
    </div>
  </div>
</div>
 <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
          Projetos Concluidos
        </a>
      </h4>
    </div>
    <div id="collapseFor" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
           {% for projeto in projetos %}
             {% if projeto.status == 3  %}


        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-12">

                <div class="portfolio-info-fade">
					<div class="portfolio-item-description col-sm-6">
						<h3>{{ projeto.title }}</h3>
						<p>
							{{ projeto.descricao|safe }}
						</p>
						<ul class="no-list-style">
							<li><b>Coordenador:</b> {{ projeto.cordenador }}</li>



						</ul>

                        {% endif %}
          {% endfor %}
					</div>
				</div>
				</div>
            </div>
				</div>
				</div>

      </div>
    </div>
  </div>
</div>




<br><br><br>
 </div>
 </div>

{% endblock %}